.workout-headers {
  text-align: center;
}

.workout-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center; 
}

.workout-card {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 2px solid black
}
