body {
  background-color: #f5f5f5;
}

.workout-headers,
.mood-headers,
.analytics-header {
  text-align: center;
}

.workout-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center; 
}

.workout-card {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 2px solid grey;
  background: #f9fafb;
  border-radius: 5px;
}

.workout-card h3,
.workout-card h4,
.workout-card p {
  text-align: center;
}

/* .workout-card p {
  text-align: center;
} */

.workout-card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-buttons,
.mood-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;   
}


.workout-buttons button {
  border-radius: 5px;
  padding: 5px
}

.add-workout-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;        
}

.add-workout-button {
  border-radius: 5px;
  padding: 5px
}

.mood-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center; 
}

.mood-card {
  width: 400px;
  padding: 20px;
  margin: 20px;
  border: 2px solid grey;
  background: #f9fafb;
  border-radius: 5px;
  text-align: center;
}

.add-mood-container{
  display: flex;
  justify-content: center;
  margin: 20px 0;  
}

.add-mood-button {
  border-radius: 5px;
  padding: 5px
}

.graph-and-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px
}

.legend {
  border: 2px solid grey;  
  padding: 10px;
  align-self: center;   
}

.color-box {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: 1px solid #000; 
}

