.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin-top: 20px; 
  margin-right: 20px;
  margin-left: 20px
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  background: #A8A8A8;
  color: black;
}

.nav-link:hover {
  background: #909090;
}

.nav-link.active {
  background: #6e6e6e;
  font-weight: bold;
  
}